= wrap_layout :scaffold do
  .navbar.navbar-default.navbar-fixed-top
    .container
      %header.navbar-header(role="banner")
        %p.initialism
          - if current_page.data.page == 'home'
            = link_to 'Clarity', '#top', class: 'navbar-brand'
          - else
            = link_to 'Clarity', '/', class: 'navbar-brand'

        %p
          %button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
            Menu

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right
          - if current_page.data.page == 'home'
            - @link_prefix = '#'

          - else
            - @link_prefix = '/#'

          %li= link_to 'About', "#{@link_prefix}about"

          %li= link_to 'Speakers', "#{@link_prefix}speakers"

          -#%li= link_to 'Schedule', "#{@link_prefix}schedule"

          %li= link_to 'Location', "#{@link_prefix}location"

          %li= link_to 'Register', "#{@link_prefix}register"

          %li= link_to 'Sponsors', "#{@link_prefix}sponsors"

  .page= yield

  %footer.navbar.navbar-default(role='contentinfo')
    .container
      %p.navbar-text
        %small
          Copyright &copy;
          = copyright_years(2015)
          = succeed ',' do
            = link_to data.site.author, 'http://sushiandrobots.com', class: 'navbar-link'
          all rights reserved.


      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Contact',         '/contact'
        %li= link_to 'Sponsor',         '/sponsor'
        %li= link_to 'Code of Conduct', '/coc'
        %li= link_to 'Facebook',        'http://facebook.com/' + data.site.facebook_site
        %li= link_to 'Twitter',         'http://twitter.com/'  + data.site.twitter_site
