= wrap_layout :minimal do
  .masthead
    %header.banner(role="banner")
      %p.site-title
        - if current_page.data.title == 'home'
          = link_to 'Clarity', '#about'
        - else
          = link_to 'Clarity', '/'

      %p.site-toggle= link_to 'Menu', '#menu'

    %nav.navigation(role="navigation")
      %ul.list--horizontal#menu
        - if current_page.data.title == 'home'
          %li= link_to 'About', '#about'

          %li= link_to 'Speakers', '#speakers'

          %li= link_to 'Schedule', '#schedule'

          %li= link_to 'Location', '#location'

          %li= link_to 'Register', '#register'

          %li= link_to 'Sponsors', '#sponsors'

        - else
          %li= link_to 'About', '/#about'

          %li= link_to 'Speakers', '/#speakers'

          %li= link_to 'Schedule', '/#schedule'

          %li= link_to 'Location', '/#location'

          %li= link_to 'Register', '/#register'

          %li= link_to 'Sponsors', '/#sponsors'

  .page= yield

  %footer.contentinfo(role='contentinfo')
    .copyright
      :markdown
        Copyright &copy; 2015&ndash;2016 [Clarity](/), all rights reserved.

    %ul.legal
      %li= link_to 'Sponsor', 'sponsor'
      %li= link_to 'Code of Conduct', 'coc'
