!!!
%html.no-js(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    %title= current_page.data.title || 'Clarity'
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400'
    = stylesheet_link_tag 'vendor/normalize', 'clarity'
    = yield_content :head_css
    = javascript_include_tag  'vendor/modernizr'
    = yield_content :head_js

  %body{class: page_classes}
    = Typogruby.improve(yield)

    = javascript_include_tag  'clarity'
    = yield_content :foot_js
