---
title: Welcome
page: home
title_reverse: true
---

%section.section#about.jumbotron
  .container
    %h1 A Style Guide Conference

    %p= link_to 'Register Now', '#register', class: 'btn btn-primary'

    %p.lead
      San Francisco, California
      %br
      March
      = surround('31', '&ndash;April') do
        %sup st
      = surround('1', ',') do
        %sup st
      2016

    = partial 'mailchimp'



%section.section#speakers
  .container
    .page-header
      %h2 Speakers

    .row
      .col-sm-12.col-lg-6.speaker
        %h3 Our Emcee

        - for speaker in data.speakers
          - if speaker.id == 'chris-coyier'
            .media{id: speaker.id}
              .media-left
                = link_to speaker.url do
                  = image_tag 'speakers/' + speaker.id + '.png', alt: speaker.name, class: 'img-circle avatar media-object'

              .media-body
                %h3.media-heading
                  = link_to speaker.name, speaker.url
                  %br
                  %small= speaker.title

                = partial 'bios/' + speaker.id

      .col-sm-12.col-lg-6.speaker
        %h3 Our Sketch Note Artist

        - for speaker in data.speakers
          - if speaker.id == 'susan-lin'
            .media{id: speaker.id}
              .media-left
                = link_to speaker.url do
                  = image_tag 'speakers/' + speaker.id + '.png', alt: speaker.name, class: 'img-circle avatar media-object'

              .media-body
                %h3.media-heading
                  = link_to speaker.name, speaker.url
                  %br
                  %small= speaker.title

                = partial 'bios/' + speaker.id

    %h3 Our Speakers

    .row
      - for speaker in data.speakers
        - if speaker.id != 'chris-coyier' && speaker.id != 'susan-lin'
          .col-sm-12.col-lg-6.speaker
            .media{id: speaker.id}
              .media-left
                = link_to speaker.url do
                  = image_tag 'speakers/' + speaker.id + '.png', alt: speaker.name, class: 'img-circle avatar media-object'

              .media-body
                %h3.media-heading
                  = link_to speaker.name, speaker.url
                  %br
                  %small= speaker.title

                = partial 'bios/' + speaker.id

    %p.text-muted.text-center More announced very soon!



-#%section.section#schedule
-#  .container
-#    .page-header
-#      %h2 Schedule
-#
-#    %ul.nav.nav-tabs.nav-justified(role="tablist")
-#      %li.active(role='presentation')
-#        = link_to '#friday', aria: {controls: 'friday'}, role: 'tab', -#data: {toggle: 'tab'}, class: 'active' do
-#          Friday, March 31<sup>st</sup>
-#
-#      %li(role='presentation')
-#        = link_to '#saturday', aria: {controls: 'saturday'}, role: 'tab-#', data: {toggle: 'tab'} do
-#          Saturday, April 1<sup>st</sup>
-#
-#    .tab-content
-#      .tab-pane.fade.in.active#friday(role='tabpanel')
-#        %ul.list-group
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#
-#      .tab-pane.fade#saturday(role='tabpanel')
-#        %ul.list-group
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)



%section.section#locations
  .container
    .page-header
      %h2 Locations

    .row
      .col-xs-12.col-sm-6
        %h3 The Awesome Conference Venue

        %p
          %strong Alamo Drafthouse
          %br
          2550 Mission Street
          %br
          San Francisco, California 94110
          %br
          = link_to 'Google Map', 'https://goo.gl/maps/f93dUKY4EzQ2'

        %p
          In typical Alamo Drafthouse style, food and drinks can be had at
          your seat! The staff will take orders and deliver food and beverages
          between talks.

      .col-xs-12.col-sm-6
        %h3 Thursday Happy Hour

        %p
          %strong Eventbrite
          %br
          155 5th St. 7th Floor
          %br
          San Francisco, California 94103
          %br
          = link_to 'Google Map', 'https://goo.gl/maps/gfb4DqM9tDM2'

        %p
          Join us for food, drinks, and mingling Thursday night at 6&ndash;9pm
          to cap off a great first day!
          %strong Thank you Eventbrite for sponsoring!
          RSVP will be required (form coming soon).



%section.section#register
  .container
    .page-header
      %h2 Register

    %p
      %strong
        If you are (or plan to be) a sponsor,
        = link_to 'contact us', '/contact'
        to receive your ticket(s) as defined within your
        = succeed '.' do
          = link_to 'sponsorship level', '/sponsor'

    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item(src="//eventbrite.com/tickets-external?eid=19886717708&ref=etckt" scrolling="auto" allowtransparency="true")



%section.section#sponsors
  .container
    .page-header
      %h2 Sponsors

    %h3 Diamond Sponsors

    %ul.row.list-unstyled
      %li.col-xs-6.col-sm-4.col-md-3.col-lg-2
        = link_to 'http://twitter.com/salesforceux' do
          = image_tag 'sponsors/salesforce.svg', alt: 'Salesforce UX', class: 'img-responsive sponsors'

    -#%h3 Platinum Sponsors

    %h3 Silver Sponsors

    %ul.row.list-unstyled
      %li.col-xs-6.col-sm-4.col-md-3.col-lg-2
        = link_to 'http://eventbrite.com/jobs' do
          = image_tag 'sponsors/eventbrite.svg', alt: 'Eventbrite Engineering', class: 'img-responsive sponsors'

    -#%h3 Basic Sponsors

    -#%h3 Diversity Sponsors

    -#%h3 In-Kind Sponsors

    %p.text-center= link_to 'Sponsor Clarity', 'sponsor', class: 'btn btn-default'
