---
title: Welcome
page: home
title_reverse: true
---

%section.section#about.jumbotron
  .container
    %h1 A Style Guide Conference

    %p.lead
      San Francisco, California
      %br
      March
      = surround('31', '&ndash;April') do
        %sup st
      = surround('1', ',') do
        %sup st
      2016

    = partial 'mailchimp'



%section.section#speakers
  .container
    .page-header
      %h2 Speakers

    .row
      - for speaker in data.speakers
        .col-sm-12.col-lg-6
          .media{id: speaker.id}
            .media-left
              = link_to speaker.url do
                = image_tag 'speakers/' + speaker.id + '.png', alt: speaker.name, class: 'img-circle avatar media-object'

            .media-body
              %h3.media-heading
                = link_to speaker.name, speaker.url
                %br
                %small= speaker.title

              = partial 'bios/' + speaker.id

    %p.text-muted More to be announced soon...



-#%section.section#schedule
-#  .container
-#    .page-header
-#      %h2 Schedule
-#
-#    %ul.nav.nav-tabs.nav-justified(role="tablist")
-#      %li.active(role='presentation')
-#        = link_to '#friday', aria: {controls: 'friday'}, role: 'tab', -#data: {toggle: 'tab'}, class: 'active' do
-#          Friday, March 31<sup>st</sup>
-#
-#      %li(role='presentation')
-#        = link_to '#saturday', aria: {controls: 'saturday'}, role: 'tab-#', data: {toggle: 'tab'} do
-#          Saturday, April 1<sup>st</sup>
-#
-#    .tab-content
-#      .tab-pane.fade.in.active#friday(role='tabpanel')
-#        %ul.list-group
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#
-#      .tab-pane.fade#saturday(role='tabpanel')
-#        %ul.list-group
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)
-#
-#          %li.list-group-item
-#            %span.badge 4:00
-#
-#            %h4.list-group-item-heading= lorem.sentence
-#
-#            %p.list-group-item-text= lorem.words(5)



-#%section.section#location
-#  .container
-#    .page-header
-#      %h2 Location
-#
-#    %p San Francisco, California
-#
-#    %p.text-muted Venue to be announced...



-#%section.section#register
-#  .container
-#    .page-header
-#      %h2 Register
-#
-#    %p.text-muted Coming Soon...



%section.section#sponsors
  .container
    .page-header
      %h2 Sponsors

    %h3 Diamond Sponsor

    %ul.row.list-unstyled
      %li.col-xs-6.col-sm-4.col-md-3.col-lg-2
        = link_to 'http://twitter.com/salesforceux' do
          = image_tag 'sponsors/salesforce.svg', alt: 'Salesforce UX', class: 'img-responsive sponsors'

    -#%h3 Platinum Sponsors

    -#%h3 Silver Sponsors

    -#%h3 Basic Sponsors

    -#%h3 Diversity Sponsors

    -#%h3 In-Kind Sponsors

    %p.text-center= link_to 'Sponsor Clarity', 'sponsor', class: 'btn btn-default'
